.navBar {
  background-color: #2a2a2a;
  width: 100%;
}

.textoLogo {
  color: antiquewhite;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
}

.paddingIcons {
  padding: 5px;
}

.iconoAgrandado {
  font-size: 26px;
}

.boxBienvenida {
  background-color: #f806cc;
  margin: auto;
  width: 98%;
  padding: 0.4rem;
  margin-top: 0.2em;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 7px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  min-height: 2.5rem;
}

.quantityProduct {
  max-width: 200px;
  border: solid 0.8px;
  background-color: #c8cbcf;
  padding: 8px 12px 8px 12px;
  text-align: center;
  border-color: #84878c;
  border-radius: 8px;
}

.quantityProduct input {
  font-size: 20px;
  width: 80px;
  text-align: center;
  border: none;
  font-weight: bold;
  height: 35px;
}

.quantityProduct button {
  font-size: 18px;
  font-weight: bold;
  color: #434445;
  height: 35px;
  border-radius: 45px;
}

.cardProductos {
  max-width: 350px;
}

.cardProductosImg {
  max-height: 300px;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  padding-top: 5px;
}

.cardContenedorInfo {
  padding: 3px;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
}

.cardProductDetail {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}

.imgItemDetail {
  border-radius: 20px;
}

.titleProductDetail {
  color: #5dcf06;
  font-weight: bold;
}

.textCarritoVacio {
  font-size: 50px;
  padding: 10px;
  color: red;
  font-weight: bold;
}

.cartProductos {
  max-width: 1200px;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  border: solid 2px;
  border-color: #5974f0;
  background-color: #c1cbf7;
  margin-top: 5px;
  align-items: center;
  text-align: center;
}

.cartProductosImg {
  max-width: 90px;
  margin: auto;
  padding: 0;
  border-radius: 5px;
}

.cartTitleProducto {
  font-size: 20px;
  font-weight: bold;
}

.carTotal {
  background-color: #03ad09;
  margin: auto;
  width: auto;
  padding: 0.8rem;
  margin-top: 0.3em;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 4px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.cartFormOrder {
  background-color: white;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  margin-top: 20px;
}

.imgCongratulations {
  max-width: 500px;
}

.boxCongratulations {
  text-align: center;
  font-size: 3em;
  border: solid 2px;
  padding: 10px;
  border-radius: 15px;
  color: #812afa;
  background-color: #e1fcdc;
  border-color: #2bf702;
}

.orderNumber {
  color: #ff1c51;
  font-weight: bold;
}
